{% extends "base/base.html" %}
{% block title %}Change Password{% endblock %}
{% block page_title %}Change Password{% endblock %}
{% block breadcrumb_items %}
  <li class="breadcrumb-item"><a href="{% url 'authentication:profile' %}">Profile</a></li>
  <li class="breadcrumb-item active">Change Password</li>
{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header"><h3 class="card-title"><i class="fas fa-key mr-2"></i>Change Password</h3></div>
      <div class="card-body">
        <form method="post">
          {% csrf_token %}
          {% for field in form %}
          <div class="form-group">
            <label>{{ field.label }}</label>
            <input type="password" name="{{ field.html_name }}" class="form-control {% if field.errors %}is-invalid{% endif %}" required>
            {% if field.errors %}<div class="invalid-feedback">{{ field.errors.0 }}</div>{% endif %}
          </div>
          {% endfor %}
          <button type="submit" class="btn btn-primary"><i class="fas fa-save mr-1"></i>Update Password</button>
          <a href="{% url 'authentication:profile' %}" class="btn btn-secondary ml-2">Cancel</a>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
